doctype html
html
    head
        title Chromeum
        link(href='./app/styles/app.css' rel="stylesheet" type="text/css")
        script(src='./lib/vue.js')
    body
        #app
        script(src='app.build.js')
